Source: sdbd
Section: net
Priority: extra
Maintainer: Kangho Kim <kh5325.kim@samsung.com>, Yoonki Park <yoonki.park@samsung.com>, Ho Namkoong <ho.namkoong@samsung.com> 
Build-Depends: debhelper (>= 5), libc6-dev
Standards-Version: 0.0.1

Package: sdbd
Architecture: any 
Description: SDB daemon
