#!/usr/bin/make -f

UNAME := $(shell uname -sm)
ifneq (,$(findstring 86,$(UNAME)))
	HOST_ARCH := x86
endif

configure: configure-stamp

configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

binary: build install
	dh_testdir
	dh_testroot
ifeq ($(HOST_ARCH),x86)
	dh_install --sourcedir=debian/tmp
else
	dh_install --sourcedir=debian/tmp -XS06sdbd
endif
	dh_strip
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	rm -f build-stamp configure-stamp
	$(MAKE) clean
	dh_clean

